@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
<div class="seese-wrapper">

    <div class="seese-containerWrap seese-extra-width">
        <div class="seese-background seese-background-outer">
            <div class="container">
                <div class="seese-background-inner seese-padding-none seese-container-inner" style="">
                    <div class="row">


                        <!-- Content Col Start -->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 seese-no-sidebar seese-contentCol">
                            <div class="row seese-content-area">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <section class="wpb-content-wrapper">
                                        <div class="vc_row wpb_row vc_row-fluid">
                                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                                <div class="vc_column-inner">
                                                    <div class="wpb_wrapper">
                                                        <div class="seese-prslr seese-product-slider-65e1bc6136b72 seese-slick-controls-light seese-prslr-height-adaptive ">
                                                            <div class="seese-prslr-box seese-prslr-box-65e1bc6136b97">
                                                                <div class="seese-prslr-img">
                                                                    <img decoding="async" src="../Project_FontEnd_1/victorthemes.com/themes/seese/wp-content/uploads/2016/10/banner-bg-1.jpg" class="seese-prslr-image">
                                                                </div>
                                                                <div class="seese-prslr-content h_left v_center align_left" style="">
                                                                    <div class="seese-prslr-text">
                                                                        <div class="seese-prslr-intro">
                                                                            <div class="seese-prslr-title seese-animate animated" data-animate="fadeInRight">Living Room<br /> Furnishing Light<span> - </span></div>
                                                                            <div class="seese-prslr-price seese-animate animated" data-animate="fadeInRight">$75.00</div>
                                                                        </div>
                                                                        <div class="seese-prslr-shopNow-title seese-animate animated" data-animate="fadeInRight"><a href="../Home/Index">Shop Now</a></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="seese-prslr-box seese-prslr-box-65e1bc6136e18">
                                                                <div class="seese-prslr-img">
                                                                    <img decoding="async" src="../Project_FontEnd_1/victorthemes.com/themes/seese/wp-content/uploads/2016/10/banner-bg-2.jpg" class="seese-prslr-image">
                                                                </div>
                                                                <div class="seese-prslr-content h_left v_center align_left" style="">
                                                                    <div class="seese-prslr-text">
                                                                        <div class="seese-prslr-intro">
                                                                            <div class="seese-prslr-title seese-animate animated" data-animate="fadeInRight">
                                                                                <a href="#">Stainless Food<br />Container  Set</a><span> - </span>
                                                                            </div>
                                                                            <div class="seese-prslr-price seese-animate animated" data-animate="fadeInRight">$190.00</div>
                                                                        </div>
                                                                        <div class="seese-prslr-shopNow-title seese-animate animated" data-animate="fadeInRight">
                                                                            <a href="../Home/Index">Shop Now</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="seese-prslr-box seese-prslr-box-65e1bc6136fdc">
                                                                <div class="seese-prslr-img">
                                                                    <img decoding="async" src="../Project_FontEnd_1/victorthemes.com/themes/seese/wp-content/uploads/2016/10/banner-bg-3.jpg" class="seese-prslr-image">
                                                                </div>
                                                                <div class="seese-prslr-content h_left v_center align_left" style="">
                                                                    <div class="seese-prslr-text">
                                                                        <div class="seese-prslr-intro">
                                                                            <div class="seese-prslr-title seese-animate animated" data-animate="fadeInRight">
                                                                                <a href="#">Woolen Mills<br />Ceramics Mug</a><span> - </span>
                                                                            </div>
                                                                            <div class="seese-prslr-price seese-animate animated" data-animate="fadeInRight">$75.00</div>
                                                                        </div>
                                                                        <div class="seese-prslr-shopNow-title seese-animate animated" data-animate="fadeInRight">
                                                                            <a href="../Home/Index">Shop Now</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <script type="text/javascript">

                                                            jQuery(window).load(function () {

                                                                var $sliderGrid = jQuery('.seese-product-slider-65e1bc6136b72');

                                                                $sliderGrid.on('init', function (event, slick) {
                                                                    jQuery(document).trigger('banner-slider-loaded');
                                                                    var $slideActive = $sliderGrid.find('.slick-track .slick-active');
                                                                    var $bannerContent = $slideActive.find('.seese-animate');
                                                                    $sliderGrid.find('.seese-prslr-price').css('visibility', 'visible');
                                                                    if ($bannerContent.length) {
                                                                        $bannerContent.css('opacity', '1');
                                                                        $bannerAnimation = $bannerContent.data('animate');
                                                                        $bannerContent.addClass($bannerAnimation);
                                                                    }
                                                                });

                                                                $sliderGrid.slick({
                                                                    rows: 1,
                                                                    slidesPerRow: 1,
                                                                    slidesToShow: 1,
                                                                    adaptiveHeight: true,
                                                                    arrows: false,
                                                                    autoplay: false,
                                                                    autoplaySpeed: 3000,
                                                                    dots: true,
                                                                    fade: true,
                                                                    infinite: true,
                                                                    pauseOnHover: false,
                                                                    prevArrow: "<div class='seese-prslr-nav prslr-prev'><i class='fa fa-angle-left' aria-hidden='true'></i></div>",
                                                                    nextArrow: "<div class='seese-prslr-nav prslr-next'><i class='fa fa-angle-right' aria-hidden='true'></i></div>",
                                                                    speed: 300,
                                                                });

                                                                $sliderGrid.on('beforeChange', function (event, slick, currentSlide, nextSlide) {
                                                                    var $currentSlide = jQuery(slick.$slides[slick.currentSlide]);
                                                                    var $bannerContent = $currentSlide.find('.seese-animate');
                                                                    if ($bannerContent.length) {
                                                                        $bannerContent.css('opacity', '0');
                                                                        $bannerAnimation = $bannerContent.data('animate');
                                                                        $bannerContent.removeClass($bannerAnimation);
                                                                    }
                                                                });

                                                                $sliderGrid.on('afterChange', function (event, slick, currentSlide, nextSlide) {
                                                                    var $currentSlide = jQuery(slick.$slides[slick.currentSlide]);
                                                                    var $bannerContent = $currentSlide.find('.seese-animate');
                                                                    if ($bannerContent.length) {
                                                                        $bannerContent.css('opacity', '1');
                                                                        $bannerAnimation = $bannerContent.data('animate');
                                                                        $bannerContent.addClass($bannerAnimation);
                                                                    }
                                                                });

                                                            });

                                                        </script>

                                                        <div class="woocommerce seese-products-65e1bc6137d31 ">
                                                            <div class="seese-shop-wrapper woo-col-4 seese-ajax">
                                                                
                                                                

                                                                <!--Filter home-->
                                                                <div class="seese-filterWrap ">
                                                                    <div class="seese-filterTabs seese-prsc-filter row">
                                                                        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                                                                            <ul class="seese-filterCategory">
                                                                                <li class="seese-cat-item-all active"><a href="javascript:void(0);" data-procat="all">Show All</a></li>
                                                                                <li class="seese-cat-item-145"><a href="javascript:void(0);" data-procat="uncategorized">Uncategorized</a></li>
                                                                                <li class="seese-cat-item-144"><a href="javascript:void(0);" data-procat="modern-light-lamps">Lights</a></li>
                                                                                <li class="seese-cat-item-49"><a href="javascript:void(0);" data-procat="essentials">Furniture</a></li>
                                                                                <li class="seese-cat-item-48"><a href="javascript:void(0);" data-procat="interior">Interior</a></li>
                                                                                <li class="seese-cat-item-47"><a href="javascript:void(0);" data-procat="outdoor">Decoration</a></li>
                                                                                <li class="seese-cat-item-38"><a href="javascript:void(0);" data-procat="decoration">Outdoor</a></li>
                                                                                <li class="seese-cat-item-24"><a href="javascript:void(0);" data-procat="part-and-parcel">Essentials</a></li>
                                                                                <li class="seese-cat-item-16"><a href="javascript:void(0);" data-procat="canvas-basket">Canvas Basket</a></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <script>
                                                                    $(document).ready(function () {
                                                                        // Tạo một đối tượng ProductRequest để gửi đi
                                                                        var request = {
                                                                            //KeyWords: 'search keyword', // Từ khóa tìm kiếm (nếu có)
                                                                            // Page: 1, // Trang hiện tại
                                                                            // ItemsPerPage: 8, // Số lượng mục trên mỗi trang
                                                                            // SortField: 'name' // Trường sắp xếp (nếu có)
                                                                        };
                                                                        // Gọi hàm getProducts và truyền vào đối tượng request
                                                                        getProducts(request);

                                                                    });

                                                                    $(document).on('click', '#paging a.page', function (event) {
                                                                        event.preventDefault(); // Ngăn chặn hành động mặc định của thẻ <a>

                                                                        // Lấy số trang từ tiêu đề của thẻ <a>
                                                                        var page = $(this).text();

                                                                        // Xóa bỏ sản phẩm đã hiển thị trước đó
                                                                        $("#products-65e1bc6137d31").empty();
                                                                        $("#paging").empty();

                                                                        // Gọi hàm getProducts với số trang đã lấy được
                                                                        getProducts({ Page: page, ItemsPerPage: 8 }); // Thay đổi ItemsPerPage nếu cần thiết

                                                                    });

                                                                    $(document).on('click', '.seese-loop-thumb img', function () {
                                                                        // Lấy ID của sản phẩm từ thuộc tính data-product-id
                                                                        var productId = $(this).attr('data-product-id');
                                                                        console.log(productId);
                                                                        // Chuyển hướng trang web đến trang chi tiết sản phẩm
                                                                        window.location.href = '/Seese/Detail?id=' + productId;
                                                                    });


                                                                    function getProducts(request) {
                                                                        $.ajax({
                                                                            url: 'https://localhost:7019/api/Product',
                                                                            type: 'GET',
                                                                            dataType: 'json',
                                                                            data: request,
                                                                            success: function (response) {
                                                                                var products = response.product;
                                                                                if (products && products.length > 0) {
                                                                                    $.each(products, function (index, product) {
                                                                                        var productHtml =
                                                                                            '<li class="post-' + product.id + ' product type-product status-publish has-post-thumbnail product_cat-decoration product_tag-decor product_tag-interior last instock taxable shipping-taxable purchasable product-type-simple">'
                                                                                            + '<div class="seese-product-img">'


                                                                                            + '<div class="seese-loop-thumb seese-loop-thumb-has-hover">'
                                                                                            + '<img data-product-id="' + product.id + '" loading="lazy" decoding="async" width="500" height="570" src="' + product.thumbnail + '" alt="Image-1" class="attachment-shop_catalog size-shop_catalog wp-post-image seese-unveil-image"/>'
                                                                                            + '<div class="seese-hover-image-wrap"><img data-product-id="' + product.id + '" loading="lazy" decoding="async" width="500" height="570" src="' + product.thumbnail + '" alt="Image-2" class="attachment-shop_catalog size-shop_catalog seese-pr-hover-image" /></div>'
                                                                                            + '</div>'
                                                                                            + '</div>'

                                                                                            + '<div class="seese-product-cnt">'
                                                                                            + '<a href="../Project_FontEnd_1/victorthemes.com/themes/seese/product/back-bag-red/index.html">'
                                                                                            + '<span class="seese-product-text">'
                                                                                            + '<h3>' + product.name + '</h3>'
                                                                                            + '<span class="price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&#36;</span>' + product.price + '</bdi></span></span>'
                                                                                            + '</span>'
                                                                                            + '</a>'
                                                                                            + '<div class="seese-atc-wrap">'
                                                                                            + '<a href="index3769.html?add-to-cart=392" data-quantity="1" class="button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="392" data-product_sku="603317-17" aria-label="Add to cart: &ldquo;Back Bag - Red&rdquo;" aria-describedby="" rel="nofollow">Add To Cart</a>'
                                                                                            + '</div>'
                                                                                            + '<div class="seese-posted-in-cats"><div class="seese-single-cat"><a href="../Project_FontEnd_1/victorthemes.com/themes/seese/product-category/decoration/index.html" rel="tag">' + product.categoryName + '</a></div></div>'
                                                                                            + '</div>'
                                                                                            + '</li>';


                                                                                        $("#products-65e1bc6137d31").append(productHtml);
                                                                                    });
                                                                                } else {
                                                                                    console.log('No products found.');
                                                                                }

                                                                                var pages = response.page;
                                                                                console.log(pages);
                                                                                if (pages != null) {
                                                                                    for (var i = 1; i <= pages.toTalPage; i++) {
                                                                                        var pageHtml =

                                                                                            '<a class="page larger" title="Page ' + i + '">' + i + '</a>'
                                                                                            ;
                                                                                        $("#paging").append(pageHtml);
                                                                                    }
                                                                                } else {
                                                                                    console.log('No pages found.');
                                                                                }

                                                                            },
                                                                            error: function (xhr, status, error) {
                                                                                console.log('Error calling API:', error);
                                                                            }
                                                                        });
                                                                    }






                                                                </script>




                                                                <div class="seese-products-full-wrap seese-prsc-shop-default" data-shopurl="../Project_FontEnd_1/victorthemes.com/themes/seese/shop/sidebar/index.html">
                                                                    <ul class="products" id="products-65e1bc6137d31">
                                                                        <!--
                                                                        <li class="post-392 product type-product status-publish has-post-thumbnail product_cat-decoration product_tag-decor product_tag-interior last instock taxable shipping-taxable purchasable product-type-simple">

                                                                            <div class="seese-product-img">

                                                                                <a href="../Project_FontEnd_1/victorthemes.com/themes/seese/product/back-bag-red/index.html" class="woocommerce-LoopProduct-link"></a>



                                                                                <div class="seese-loop-thumb seese-loop-thumb-has-hover">
                                                                                    <img loading="lazy" decoding="async" width="500" height="570" data-src="../Project_FontEnd_1/victorthemes.com/themes/seese/wp-content/uploads/2016/11/Image-2-15-500x570.jpg" src="../Project_FontEnd_1/victorthemes.com/themes/seese/wp-content/themes/seese/inc/plugins/woocommerce/images/lazy-load.jpg" alt="Image-1" class="attachment-shop_catalog size-shop_catalog wp-post-image seese-unveil-image" />
                                                                                    <div class="seese-unveil-loader ball-beat"><div></div></div><div class="seese-hover-image-wrap"><img loading="lazy" decoding="async" width="500" height="570" src="../Project_FontEnd_1/victorthemes.com/themes/seese/wp-content/uploads/2016/11/Image-2-15-500x570.jpg" alt="Image-2" class="attachment-shop_catalog size-shop_catalog seese-pr-hover-image" /></div>
                                                                                </div>
                                                                            </div>

                                                                            <div class="seese-product-cnt">

                                                                                <a href="../Project_FontEnd_1/victorthemes.com/themes/seese/product/back-bag-red/index.html">
                                                                                    <span class="seese-product-text">
                                                                                        <h3>Name</h3>
                                                                                        <span class="price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&#36;</span>125.00</bdi></span></span>
                                                                                    </span>
                                                                                </a>

                                                                                <div class="seese-atc-wrap">
                                                                                    <a href="index3769.html?add-to-cart=392" data-quantity="1" class="button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="392" data-product_sku="603317-17" aria-label="Add to cart: &ldquo;Back Bag - Red&rdquo;" aria-describedby="" rel="nofollow">Add To Cart</a>
                                                                                </div>
                                                                               <div class="seese-posted-in-cats"><div class="seese-single-cat"><a href="../Project_FontEnd_1/victorthemes.com/themes/seese/product-category/decoration/index.html" rel="tag">Outdoor</a></div></div>
                                                                            </div>

                                                                         </li>
                                                                        -->
                                                                    </ul>
                                                                </div>




                                                                <div class='wp-pagenavi' role='navigation' id="paging">
                                                                    <!--<span aria-current='page' class='current'>1</span>
                                                                    <a class="page larger" title="Page 2" href="page/2/index.html">2</a>
                                                                    <a class="page larger" title="Page 3" href="page/3/index.html">3</a>
                                                                    <a class="nextpostslink" rel="next" aria-label="Next Page" href="page/2/index.html">&gt;</a>-->
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Content Col End -->


                </div>
            </div>
        </div>
    </div>
</div>


